/* Modal.css */
.modal {
    /* display: none; */
    position: fixed;
    z-index: 111;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(19, 18, 18, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 6em auto;
    padding: 1.5rem;
    width: 17%;
    border-radius: 0.5rem;
    border: 1px solid #353843;
    background:  #101116;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
    color: rgba(255, 255, 255, 0.80);
    position: relative;
    left:39%;
  }

  .user {
    display: flex;
    flex-direction: column;
    
  }
  .user > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  span:hover {
    color: #67BDFF;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }
  .modal.open {
    display: block;
  }

.menu-user-list {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    list-style: none;
    line-height: 2.2rem;
    margin-top: 0.8rem;
  }
  
  li:hover {
    color: #67BDFF;
  }