.container-results {
    display: flex;
    flex-direction: column;
    padding: 10em;
    min-height: 100vh;


}

.container-results > h2 {
    color:rgba(255, 255, 255, 0.60);
    font-size: 2rem;
    font-weight: 400;
}

.query {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}
.movies-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    
}
.no-results {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 3rem;
}