.container-results {
    display: flex;
    flex-direction: column;
    padding: 10em;
    min-height: 100vh;
}

.container-results > h2 {
    color:rgba(255, 255, 255, 0.60);
    font-size: 2rem;
    font-weight: 400;
}

.query {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}
.movies-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    
}

.movies-container img {
        max-width: 200px;
        height: auto;
        border-radius: 5%;
}
.no-results {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 3rem;
}
@media (max-width: 768px) {
    .container-results {
        padding: 2em;
        padding-top: 19rem;
        display: flex;
        justify-content: center;
    }
    .container-results > h2 {
        font-size: 1.2rem;
    }
    .query {
        font-size: 1.4rem;
    }
    .movies-container img {
        max-width: 300px;
        height: auto;
        border-radius: 5%;
}
}