header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;  
    background: linear-gradient(180deg, #0E1012 -50.62%, rgba(14, 16, 18, 0.00) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
  
  }
  
li {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 2em;
}

form {
    display: flex;
    align-items: center;
    /* border: solid 1px rgb(255, 0, 255); */
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: 2px solid #02E7F5;
}
