header {
    display: flex;
    justify-content: space-between;
    padding: 1em 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.014)), rgba(0, 0, 0, 0.226);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
  
  }
  
li {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 3em;
}

form {
    display: flex;
    align-items: center;
    /* border: solid 1px rgb(255, 0, 255); */
}
