.carousel p {
    margin-top: 1.5em;
    font-family: 'Work Sans';
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2em;
    color: #FFFFFF;
    
}

.slick-slider {
    margin-bottom: 30px;
    margin-left: 3em;
    margin-top: 1em;
}

.slick-slide {
    max-width: 250px;
    height: auto;
}


.slick-item {
    max-width: 200px;
    height: auto;
    margin-right: 15px;
}


.slick-slider img {
    max-width: 200px;
    height: auto;
    border-radius: 5%;

}

.slick-slide:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}