.container-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background: #090B13;
    padding: 4rem 2rem 2rem 2rem;  
}
.footer-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    padding: 2.5rem 0;
    list-style: none;
    font-size: 0.80rem;
    
}
.information-footer {
    color: #FFF;
    font-size: 0.80rem;
    text-align: center;
    width: 36%;
}
.copy {
    padding-top: 2rem;
    color: #FFF;
    text-align: center;
    font-size: 0.80rem;
    line-height: 1.2rem;
}

@media (max-width: 768px) {

    .container-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0.6rem;
    } 

    .footer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 1rem;
    }
    .footer-list > li {
        margin: 0;
    }
    .information-footer {
        width: 100%;
        padding: 0.4rem 1rem;
    }   

}