* {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    background-color: #1A1D29;
}

a {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
    gap: .5em;
    transition: .5s;
  }

  a:hover {
    color: #02E7F5;
  }